/*Author: Kelly Shen*/
body {
	background: #edece8;
	font-family: 'Quicksand', sans-serif;
}

a {
  color: #403d50;
}

.title {
	margin-top: 5%;
	color: #222;
	padding: 25px 25px 0px 25px;
}

.subtitle {
	color: #808080;
	padding: 0px 10px 10px 10px;
	font-size: 12pt;
}

.well {
  width: 500px;
  margin: 0 auto;
}

.btn {
	background: #8ac5c3;
  border-color: #8ac5c3;
	color: #222;
	cursor: pointer;
  margin-top: 2%;
}

.btn:hover {
  color: #222;
  background-color: #adddcf;
  border-color: #adddcf;
}

.btn:focus,.btn:active {
   outline: none !important;
}

#error-message {
  margin: auto;
  width: 460px;
  margin-top: 1%;
  color: #ff9681;
  font-size: 12pt;
}

@-webkit-keyframes pulse {
  50% {
    background: #8ac5c3;
  }
}
@keyframes pulse {
  50% {
    background: #8ac5c3;
  }
}

#loading-sign {
  display: none;
}

.loading-pulse {
  margin: auto;
  margin-top: 3%;
  position: relative;
  width: 8px;
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 20px;
  width: 8px;
  background: rgba(255, 255, 255, 0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}
.loading-pulse:before {
  left: -15px;
}
.loading-pulse:after {
  left: 15px;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}