{{!-- author: Elise Xue--}}


<div class="well">
	<ul class="nav nav-tabs">
	  <li class="post-tab description active"><a href="#">Description</a></li>
	  <li class="post-tab suggested-students"><a href="#">Suggested Students</a></li>
	</ul>

	<div class="post tab-content">

	</div>

	<div class="students tab-content">
	</div>
</div>